.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.content_menu {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.content_menu_item {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #66cccc;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.content_menu_item p {
    line-height: 80px;
    font-size: 1.5em;
}

.content_menu_item p:hover {
    color: #ccffcc;
}